@font-face {
  font-family: 'montserrat';
  src: url('./assets/fonts/montserrat.ttf');
}

body {
  margin: 0;
  font-family: 'montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: #000;
}

.danger{
  color: red;
}