.market_item_i {
  position: relative;

  .drop_down {
    position: absolute;
    right: 22px;
    top: 20px;
    z-index: 1;

    .menu_toggle {
      background: #fff;
      padding: 6px 4px 2px;
      border-radius: 7px;
      border: 1px solid #ddd;
      outline: none;
    }

    .dropdown_menu {
      background: #fff;
      position: absolute;
      width: -webkit-max-content;
      width: max-content;
      padding: 3px 0;
      border-radius: 5px;
      display: none;
      transform: translate(-221px, 4px);
      box-shadow: 0px 0px 4px 0px #0006;

      a {
        display: block;
        text-decoration: none;
        color: #000;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        font-size: 15px;

        &:hover {
          background-color: #eee;
        }

        img {
          width: 25px;
          padding: 4px;
        }
      }
    }

    &.show .dropdown_menu {
      display: block;
    }
  }

  > a {
    display: block;
    display: inline-block;
    border-radius: 15px;
    margin: 10px;
    width: 90%;
    border: 1px solid #eee;
    height: 260px;
    cursor: pointer;
    transition: box-shadow 0.4s;
    position: relative;

    &:hover {
      box-shadow: 0 4px 16px 0#1c1e381f;

      h2 {
        text-decoration: underline;
      }

      &:hover .img_overlay {
        opacity: 0.25;
      }
    }
  }

  .img_container {
    width: 100%;
    height: 50%;
    position: relative;

    .img_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0;
      border-radius: 10px 10px 0 0;
      transition: opacity 0.5s;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
  }

  .texts {
    flex: 1;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 14px;

    h2 {
      flex: 1 1;
      max-height: 55px;
      min-height: 55px;
      overflow: hidden;
      font-size: 16px;
    }

    h3 {
      font-weight: 300;
      margin: 0;
      font-size: 17px;
      color: #777;

      strong {
        color: #000;
        background: #f0f0f0;
        display: inline-block;
        border-radius: 10px;
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .market_item_i {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .market_item_i {
    width: 25%;
  }
}
