.item_viewer {
  strong {
    color: #000;
    background: #d4d4d4;
    display: inline-block;
    border-radius: 10px;
    margin-right: 10px;
    padding: 0px 4px 0px 2px;
  }

  .modal_content{
      padding: 0;

      img{
          height: 300px;
          width: 100%;
          object-fit: cover;
      }

      .item_body {
          padding: 25px;
          text-align: center;

          .title{
              font-weight: bold;
              margin-bottom: 15px;
          }
      }
  }

}
