.modal_create_edit {

  .input_group {
    width: 100%;
    margin-bottom: 20px;

    label {
      display: block;
      width: 100%;
    }

    input {
      display: block;
      padding: 7px;
      margin: 5px 0;
      outline: none;
      width: 100%;

      &:focus-within {
        box-shadow: 0px 0px 6px 0px dodgerblue;
        border-color: dodgerblue;
      }
    }
  }

  .file_btn {
    background-color: dodgerblue;
    padding: 10px;
    border: none;
    color: #fff;
    font-weight: bold;
    outline: none;
  }

  .send_btn {
    background-color: rgb(255, 101, 30);
    padding: 10px;
    width: 50%;
    border: none;
    color: #fff;
    font-weight: bold;
    outline: none;
    margin-top: 20px;
  }

  .image_preview img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }
}
